::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #8D9092;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #8D9092;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #8D9092;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #8D9092;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #8D9092;
}

::placeholder { /* Çoğu modern tarayıcılar artık bunu destekliyor */
   color:    #8D9092;
}
*{
    margin:0;
    padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}



body{
	background: rgb(99,36,196);
background: linear-gradient(60deg, #AC6EFF 45%, #2414DB 97%);
}


#input_section{
    width:230px;
    position: relative;
}

input{
    display: flex;
   
}


#input_section > i{
    color:gray;
    font-weight:100;
    position: absolute;
    right:40px;
    font-size:18px;
    top:22px;
    z-index:0;
}

#aside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
 

#hero{
	background-color: #fff;
	height:100vh;
	width:75%;
	padding:0 153px;
	background-size:cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color:#fff;
	border-top-right-radius:290px;
	border-bottom-right-radius:290px;
}

.input{
    color:#8D9092
}

#h1{
    color:#2B2E39;
    font-weight: 700;
    font-size: 43pt;
    margin-top: -100px;
    
    
}

#h2{
    color:#2B2E39;
    font-weight:800;
    font-size: 85pt;
    margin-top: 120px;
}

#buton{
    background: linear-gradient(60deg, #2414DB 15%, #AC6EFF 97%);
    border: solid 1px blue;
    border-radius: 25px 25px 25px 25px;
    border-width: 1px;
    width: 210px;
    height: 40px;
    margin-top: 60px;
    color:#fff;
    cursor:pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    font-size:20px;
    margin-right:15px;
    margin-top:5px;
    color:gray;
    z-index:2;
}

#popup{
    padding: 10px 20px;
    top:10px;
    border-radius:50px;
    background-color:#2B2E39;
    position: absolute;
    right:1px;
    display:none;
    font-size:13px;
}

#h3{
    color:#2B2E39;
    font-weight: 300;
    font-size: 27pt;
    padding-top:25px;
}

#tarih_veri{
    border-radius: 25px 25px 25px 25px;
    border-width: 1px;
    width: 210px;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px; 
}

#fabrik_sec{
    border-radius: 25px 25px 25px 25px;
    border-width: 1px;
    width: 210px;
    height: 40px;
    margin-top: 10px; 
    padding-left: 10px;
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
    color:gray; 
   


}

#quantity{
    border-radius: 25px 25px 25px 25px;
    border-width: 1px;
    width: 210px;
    height: 40px;
    margin-top: 10px; 
    display: center;
    text-align: left;
    justify-content: center;
    padding-left: 10px;
}

@media only screen and (max-width: 1440px)  {

    #h1{
       color:#2B2E39;
       font-weight: 700;
       font-size: 44pt;
       margin-top: -100px;
    }
   
    #h2{
       color:#2B2E39;
       font-weight:800;
       font-size: 54pt;
       margin-top: 120px;
    }
   
    #h3{
       color:#2B2E39;
       font-weight: 800;
       font-size: 24pt;
       padding-top:25px;
   }
   
    #hero{
       background-color: #fff;
       height:100vh;
       width:85%;
       padding:0 15px;
       background-size:cover;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       color:#fff;
       border-top-right-radius:290px;
       border-bottom-right-radius:290px;
   }
       
   }

@media only screen and (max-width: 1024px)  {

    #h1{
       color:#2B2E39;
       font-weight: 700;
       font-size: 34pt;
       margin-top: -100px;
    }
   
    #h2{
       color:#2B2E39;
       font-weight:800;
       font-size: 38pt;
       margin-top: 120px;
    }
   
    #h3{
       color:#2B2E39;
       font-weight: 800;
       font-size: 19pt;
       padding-top:25px;
   }
   
    #hero{
       background-color: #fff;
       height:100vh;
       width:75%;
       padding:0 15px;
       background-size:cover;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       color:#fff;
       border-top-right-radius:290px;
       border-bottom-right-radius:290px;
   }
       
   }

   @media only screen and (max-width: 850px)  {

    #h1{
       color:#2B2E39;
       font-weight: 700;
       font-size: 25pt;
       margin-top: -100px;
    }
   
    #h2{
       color:#2B2E39;
       font-weight:800;
       font-size: 32pt;
       margin-top: 120px;
    }
   
    #h3{
       color:#2B2E39;
       font-weight: 800;
       font-size: 17pt;
       padding-top:25px;
   }
   
    #hero{
       background-color: #fff;
       height:100vh;
       width:73%;
       padding:0 15px;
       background-size:cover;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       color:#fff;
       border-top-right-radius:290px;
       border-bottom-right-radius:290px;
   }
       
   }

@media only screen and (max-width: 768px)  {

    #h1{
       color:#2B2E39;
       font-weight: 700;
       font-size: 24pt;
       margin-top: -100px;
    }
   
    #h2{
       color:#2B2E39;
       font-weight:800;
       font-size: 28pt;
       margin-top: 120px;
    }
   
    #h3{
       color:#2B2E39;
       font-weight: 800;
       font-size: 14pt;
       padding-top:25px;
   }
   
    #hero{
       background-color: #fff;
       height:100vh;
       width:82%;
       padding:0 15px;
       background-size:cover;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       color:#fff;
       border-top-right-radius:290px;
       border-bottom-right-radius:290px;
   }
       
   }

@media only screen and (max-width: 600px)  {

    #h1{
       color:#2B2E39;
       font-weight: 700;
       font-size: 22pt;
       margin-top: -100px;
    }
   
    #h2{
       color:#2B2E39;
       font-weight:800;
       font-size: 24pt;
       margin-top: 120px;
    }
   
    #h3{
       color:#2B2E39;
       font-weight: 800;
       font-size: 12pt;
       padding-top:25px;
   }
   
    #hero{
       background-color: #fff;
       height:100vh;
       width:88%;
       padding:0 15px;
       background-size:cover;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       color:#fff;
       border-top-right-radius:290px;
       border-bottom-right-radius:290px;
   }
       
   }

@media only screen and (max-width: 550px)  {

    #h1{
       color:#2B2E39;
       font-weight: 700;
       font-size: 19pt;
       margin-top: -100px;
    }
   
    #h2{
       color:#2B2E39;
       font-weight:800;
       font-size: 22pt;
       margin-top: 120px;
    }
   
    #h3{
       color:#2B2E39;
       font-weight: 800;
       font-size: 11pt;
       padding-top:25px;
   }
   
    #hero{
       background-color: #fff;
       height:100vh;
       width:90%;
       padding:0 15px;
       background-size:cover;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       color:#fff;
       border-top-right-radius:290px;
       border-bottom-right-radius:290px;
   }
       
   }

@media only screen and (max-width: 475px)  {

 #h1{
    color:#2B2E39;
    font-weight: 700;
    font-size: 17pt;
    margin-top: -100px;
 }

 #h2{
    color:#2B2E39;
    font-weight:800;
    font-size: 20pt;
    margin-top: 120px;
 }

 #h3{
    color:#2B2E39;
    font-weight: 800;
    font-size: 10pt;
    padding-top:25px;
}

 #hero{
	background-color: #fff;
	height:100vh;
	width:90%;
	padding:0 15px;
	background-size:cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color:#fff;
	border-top-right-radius:290px;
	border-bottom-right-radius:290px;
}
    
}

@media only screen and (max-width: 425px)  {

    #h1{
        color:#2B2E39;
        font-weight: 700;
        font-size: 18pt;
        margin-top: -70px;
     }
    
     #h2{
        color:#2B2E39;
        font-weight:800;
        font-size: 18pt;
        margin-top: 120px;
     }

     #h3{
        color:#2B2E39;
        font-weight: 800;
        font-size: 9pt;
        padding-top:25px;
    }
    
     #hero{
        background-color: #fff;
        height:100vh;
        width:90%;
        padding:0 15px;
        background-size:cover;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color:#fff;
        border-top-right-radius:290px;
        border-bottom-right-radius:290px;
    }
    
}

@media only screen and (max-width: 375px)  {

    #h1{
        color:#2B2E39;
        font-weight: 700;
        font-size: 17pt;
        margin-top: -70px;
     }
    
     #h2{
        color:#2B2E39;
        font-weight:800;
        font-size: 16pt;
        margin-top: 120px;
     }

     #h3{
        color:#2B2E39;
        font-weight: 800;
        font-size: 10pt;
        padding-top:25px;
    }
    
     #hero{
        background-color: #fff;
        height:100vh;
        width:90%;
        padding:0 15px;
        background-size:cover;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color:#fff;
        border-top-right-radius:290px;
        border-bottom-right-radius:290px;
    }
    
}

@media only screen and (max-width: 320px)  {

    #h1{
        color:#2B2E39;
        font-weight: 700;
        font-size: 15pt;
        margin-top: -70px;
     }
    
     #h2{
        color:#2B2E39;
        font-weight:800;
        font-size: 13pt;
        margin-top: 120px;
     }

     #h3{
        color:#2B2E39;
        font-weight: 800;
        font-size: 6.5pt;
        padding-top:25px;
    }
    
     #hero{
        background-color: #fff;
        height:100vh;
        width:93%;
        padding:0 15px;
        background-size:cover;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color:#fff;
        border-top-right-radius:290px;
        border-bottom-right-radius:290px;
    }
    
}